project:
  type: website
  output-dir: docs

website:
  title: "Red Ibérica de Decaimiento Forestal inducido por el Clima"
  repo-url: "https://github.com/red-decaimiento/web"
  favicon: images/logo_redec.png
  page-navigation: false
  search: true
  page-footer: 
    background: "#F6F5F3"
    center: © 2024  &middot; Made with {{< fa brands r-project >}} and 
      [![](https://quarto.org/quarto.png){fig-alt="Quarto" width=65px}](https://quarto.org/) 
    right:
      - icon: github
        href: https://github.com/red-decaimiento/web
        
  navbar:
    left:
      - href: about.qmd
        text: La red
      - href: people/index.qmd
        text: Integrantes
      - href: map.qmd
        text: Sitios
      - text: Actividades
        menu:
          - text: Base de Datos
            href: sections/base_datos.qmd
          - text: Protocolos
            href: sections/protocolos.qmd
          - text: Conexiones
            href: sections/networking.qmd
          - text: Gestión
            href: sections/gestion.qmd
      - href: photogallery.qmd
        text: Galería
        
  
format:
  html:
    theme: 
      - styles/custom.scss
      - cosmo
    toc: true


